h1{
    font-size: 36px;
    margin-bottom: -23px;
}

#bigbox {
    /* width: 800px;
    margin:40px auto 60px; */
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    
    /* padding: 10px 150px 10px 150px; */
    
    text-align: left;
    
    /* background-color: lightgray */
}
#myname{
    text-align: center;
}

.blurb {
    text-align: center;
    margin-top: 15px;
    padding: 15px;
}

.blurbBubble {
   background-color: gainsboro;
   /* color: white;  */
   /* width: 70%; */
   text-align: center;
   font-size: 1.7em;
   border: 3px solid black;
   border-radius: 5%;
   padding: 10px;
   margin-bottom: 30px;
   box-shadow: 10px 10px 3px grey;
}

h2 {
    font-size: 2em;
}
 
/* .whiteURL {
    color: white;
} */

.contact {
    font-size: 1.3em;
}

.blurbBubble2 {
    background-color: gainsboro;
    /* color: white;  */
    width: 45%;
    text-align: center;
    font-size: 1.7em;
    border: 3px solid black;
    border-radius: 5%;
    padding: 10px;
    margin: 12px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 3px grey;
    float: left;
 }